.activated {
    width: 100px;
    background-color: #49ee75;
    cursor: pointer;
}

.deactivated {
    width: 100px;
    background-color: #f31313;
    cursor: pointer;
}

#maky {
    border-width: 0px 0px 2px 0px;
    border-color: black;
    font-size: 20px; 
    width: 350px; 
    margin-right:100px;
}

#maca {
    border: 1px 0px 1px 1px black solid;
    width: 110px;
}

#mahp {
    border: 1px 0px 1px 1px black solid;
    width: 110px;
}

#tenhp {
    border: 1px 0px 1px 1px black solid;
    width: 300px;
}

#TC {
    border: 1px 0px 1px 1px black solid;
    width: 50px;
}

#SL {
    border: 1px 0px 1px 1px black solid;
    width: 50px;
}

#ca {
    border: 1px 0px 1px 1px black solid;
    width: 50px;
}
#date {
    border: 1px 0px 1px 1px black solid;
    height: 29px;
}

#timestart {
    border: 1px 0px 1px 1px black solid;
    width: 120px;
}

#timeend {
    border: 1px 0px 1px 1px black solid;
    width: 120px;
}

#diadiem {
    border: 1px black solid;
    width: 175px;
}
#remove {
    width: 50px;
    color: red;
    cursor: pointer;
    margin-left:15px;
}

#submitTests {
    display: block;
    margin: 20px 0 20px 0;
    width: 100px;

}

.delete {
    color: red;
    font-size: 17px;
    margin-left: 50px;
}